@import 'tailwindcss';
@import '../node_modules/bootstrap-icons/font/bootstrap-icons.css';

body {
  background-color: #1e1e1e;
  color: white;
}

h1,
h2,
h3,
[title='Home'] {
  font-family: 'Times New Roman', Times, serif;
}

#app {
  position: relative;
  overflow-x: hidden;
  height: 100vh;
}

main {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
